body{
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);

}


h1 {
  font-size: 2.35rem;
}

h3 {
  font-weight: 400;
  color: hsl(234, 12%, 34%);
}


p{
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  line-height: 2;
  font-size: 15px;
}

.top-header{
  font-weight:200;
  margin-bottom: 0;
  margin-top: 50px;
  color: hsl(234, 12%, 34%);

}

.bottom-header {
  font-weight: 600;
  margin-top: 0;
  color: hsl(234, 12%, 34%);

}
.head-descriprion{
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  line-height: 2;
  width: 40%;
  margin: auto;
  text-align: center;
}


.header {
  margin: auto;
  text-align: center;
}


.supervisor {
  height: 270px;
  width:370px;
  text-align: left;
  border-top: solid 5px hsl(180, 62%, 55%);
  border-radius: 2%;
  box-shadow: 5px 5px 20px 2px hsl(229, 6%, 66%);
  position: relative;
  left: 120px;
  top: 210px;



}

.supervisor-descriprion{
  width: 75%;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;

}
.supervisor-head{
  width: 75%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.supervisor-img {
  position: absolute;
  right:25px;
  bottom:20px;

}
.team-builder {
  height: 270px;
  width:370px;
  text-align: left;
  border-top: solid 5px hsl(0, 78%, 62%);
  border-radius: 2%;
  box-shadow: 5px 5px 20px 2px hsl(229, 6%, 66%);
  position: relative;
  left: 520px;
  bottom: 220px;




}

.team-head {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-descriprion {
  width: 80%;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;
}
.team-img{
  position: absolute;
  right:25px;
  bottom:20px;
}

.karma{
  height: 270px;
  width:370px;
  text-align: left;
  border-top: solid 5px hsl(34, 97%, 64%);
  border-radius: 2%;
  box-shadow: 5px 5px 20px 2px hsl(229, 6%, 66%);
  position: relative;
  left: 520px;
  bottom: 190px;


}

.karma-head{
  width: 75%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.karma-descriprion {
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.karma-img{
  position: absolute;
  right:25px;
  bottom:20px;
}

.calculator {
  height: 270px;
  width:370px;
  text-align: left;
  border-top: solid 5px hsl(212, 86%, 64%);
  border-radius: 2%;
  box-shadow: 5px 5px 20px 2px hsl(229, 6%, 66%);
  position: relative;
  bottom: 620px;
  left:920px;



}

.calculator-head {
  width: 75%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.calculator-descriprion {
  margin-left: 30px;
}

.calculator-img {
  position: absolute;
  right:25px;
  bottom:20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color:  hsl(228, 45%, 44%); }
